@font-face {
  font-family: agipo;
  src: url(font/agipo_regular.otf) format("opentype");
}

h1{
  font-family: agipo;
  font-size: 22px;
}

p{
  font-family: agipo;
}

.container-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}

.container-middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.container-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

/*style of each element*/
.item {
  border: solid;
  border-width: 1.5px;
  padding:10px;
  margin: 10px;
  transition: 
    border-right-color 0.4s ease-in,
    border-top-color 0.6s ease-in,
    border-left-color 0.8s ease-in,
    border-bottom-color 1.0s ease-in;
}

.item:hover{
  border-right-color: white;
  border-top-color: white;
  border-left-color: white;
  border-bottom-color: white;
}

.extra-big {
  width: 350px;  /* Or whatever */
}

.big {
  width: 250px;  /* Or whatever */
}

.medium {
  width: 200px;  /* Or whatever */
}

.small {
  width: 180px;  /* Or whatever */
}